extends layout

block content
	div.outer
		div.middle
			div.inner
				div.inner-middle
					div.inner-inner
						h1 Search Internet
						form
							input(type="text")
							img(src="../assets/magnify.png" width="100px")
