doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Bing
		link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/main.css")

	body
		block content
		