html,body{
	background-color: #EFEFF3;
	margin:0;
	padding:0;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #EFEFF3;
    margin:0;
    padding:0;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding:0;
}

.inner {
	padding:0;
    margin-left: auto;
    margin-right: auto; 
    width:85%;
    /*width: 1224px;*/
    height:83%;
    /*height:652px;*/
    background-color: #F5F5F7;
}
.inner-middle {
	padding:0;
	display: table-cell;
    vertical-align: middle;
    height:20%;
	width:25%;
}
.inner-inner{
	margin-top: 150px;
	height:20%;
	width:25%;
    margin-left: auto;
    margin-right: auto; 
}
input{
	height:100px;
	width:225px;
	margin-left: 120px;
	margin-top: 10px;
	border:0;
	background-color: #F5F5F7;
	font-size: 54px;
}
input:focus{
	outline: 0;
}
img{
	margin-left:30px;
	margin-top: -120px;
}
h1{
	letter-spacing: .3em;
	font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 25px;
}
@media(max-width:1192px){
	form{
		margin-left:-6%;
	}
}
@media(max-width: 794px){
	form{
		margin-left: -20px;
	}
}
@media(max-width:710px){
	form{
		margin-left:-70px;
	}
}
@media(max-width:690px){
	form{
		margin-left:-85px;
	}
}
@media(max-width:630px){
	form{
		margin-left:-90px;
	}
}
@media(max-width:610px){
	form{
		margin-left:-95px;
	}
}
@media(max-width:590px){
	form{
		margin-left:-100px;
	}
}
@media(max-width:570px){
	form{
		margin-left:-105px;
	}
}
@media(max-width:550px){
	form{
		margin-left:-110px;
	}
}
@media(max-width:530px){
	form{
		margin-left:-115px;
	}
}
@media(max-width:512px){
	form{
		margin-left:-120px;
	}
}

